<!DOCTYPE html>
<head>
	<meta name="robots" content="noindex, nofollow" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="Cryptocat lets you instantly set up secure conversations. It's an open source encrypted, private alternative to other services such as Facebook chat." />
	<meta name="keywords" content="encrypted chat, private chat, secure chat, cryptocat" />
	<title>Cryptocat</title>
	<link rel="icon" type="image/gif" href="img/favicon.gif" />
	<link rel="apple-touch-startup-image" type="image/png" href="img/isplash.png" />
	<link rel="apple-touch-icon" type="image/png" href="img/ios.png"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/notification.js"></script>
	<script type="text/javascript" src="js/build.js"></script>
</head>
<body>
{% block chat %}{% end %}
{% block welcome %}{% end %}
</body>
</html>